body {
    background-color: #ec8dd5; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.blog-header {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}
.blog-header h1 {
    font-size: 36px;
    margin: 0;
    font-family: Arial, sans-serif;
}
.blog-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}
.blog-post {
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;

}
.blog-post h2 {
    margin-top: 0;
    color: #333333;
}
.blog-post p {
    line-height: 1.6; 
    color: #555555;
}
h1 {
    text-align: center; 
    color: #f6f3fa;
    margin-bottom: 20px; 
}
.content-snippet {
    max-height: 6em;
    overflow: hidden;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space:normal;          
}
.blog-detail{
    width: 80%;
    margin: 20px auto; 
    padding: 20px; 
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    line-height: 1.6em;
    color: #333;
    
}

.blog-detail p {
    margin-bottom: 16px;
}
.blog-detail p {
    white-space: pre-wrap;   
    line-height: 1.6em; 
    margin-bottom: 16px;
    color: #333;
    font-family: Arial, sans-serif;
}
